<div>
  <div>
    <h1>
      List of all visits
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new visit
    </h2>

    <form action="/insert_visit" method="post">
      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value = <%= current_user.id %>>
      </div>

      <div>
        <label for="stop_id_box">
          Stop
        </label>

        <select id="stop_id_box" name="query_stop_id">
          <% Stop.all.each do |a_stop| %>
            <option value="<%= a_stop.id %>"><%= a_stop.crawl.name %> - Stop # <%= a_stop.order_number %> - <%= a_stop.location.name %> (<%= a_stop.location.city %>, <%= a_stop.location.state %>)</option>
          <% end %>
        </select>

      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo">
      </div>

      <button>
        Create visit
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Stop
        </th>

        <th>
          Rating
        </th>

        <th>
          Caption
        </th>

        <th>
          Photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_visits.each do |a_visit| %>
      <tr>
        <td>
          <%= a_visit.id %>
        </td>

        <td>
          <%= a_visit.user.username %>
        </td>

        <td>
          <%= a_visit.stop_id %>
        </td>

        <td>
          <%= a_visit.rating %>
        </td>

        <td>
          <%= a_visit.caption %>
        </td>

        <td>
          <img src="<%= a_visit.photo %>">
        </td>

        <td>
          <%= time_ago_in_words(a_visit.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_visit.updated_at) %> ago
        </td>

        <td>
          <a href="/visits/<%= a_visit.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
