
<div class="row mb-3">
  <div class="col-md-12 d-flex align-items-center">
    <h1>
      List of all crawls
    </h1>

    <% if current_user == nil%>
    <div class="ms-auto">
      <a href="/users/sign_in" class="btn btn-outline-success">Sign in to create crawl</a>
    </div>

    <% else %>
    <div class="ms-auto">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newCrawlModal">
        Create a new crawl
      </button>
    </div>

    <% end %>

  </div>
</div>

<ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">

  <% Category.all.each_with_index do |a_category, index| %>
    <li class="nav-item" role="presentation">
        <button class="nav-link<% if index == 0 then %> active<% end %>" id="<%= a_category.name.gsub(" ","_") %>-tab" data-bs-toggle="tab" data-bs-target="#<%= a_category.name.gsub(" ","_") %>-tab-pane" type="button" role="tab" aria-controls="<%= a_category.name.gsub(" ","_") %>-tab-pane" aria-selected="<% if index == 0 then %>true<% else %>false<% end %>"><%= a_category.name %></button>
    </li>
  <% end %>
</ul>

<% Category.all.each_with_index do |a_category, index| %>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade<% if index == 0 then %> show active<% end %>" id="<%= a_category.name.gsub(" ","_") %>-tab-pane" role="tabpanel" aria-labelledby="<%= a_category.name.gsub(" ","_") %>-tab" tabindex="0">
      
      <div class="row row-cols-1 row-cols-md-4 g-4">
        
        <% a_category.crawls.each do |a_crawl| %>
          <div class="col">
            <div class="card">
              <img src="<%= a_crawl.photo %>" class="card-img-top " alt="...">
              <div class="card-body">
                <div class="d-flex justify-content-between align-content-center border">
                  <h5 class="card-title border"><%= a_crawl.name %></h5>
                  <span class="badge rounded-pill text-bg-primary align-content-center border">
                  <% visits = a_crawl.visits%>
                  <% ratings = visits.pluck(:rating)%>
                  <% if ratings.sum == 0 %>
                    n/a
                  <% else %>
                    <%= (ratings.sum / ratings.size.to_f).round(1) %>
                  <% end %>
                  </span>
                </div>
                <p class="card-text">
                  <div>
                    <%= a_crawl.city %>, <%= a_crawl.state %>
                  </div>
                  <div>
                    by <%= a_crawl.user.username %>
                  </div>
                  <div>
                    <% if a_crawl.stops.size > 0 %>
                      Updated on <%= a_crawl.stops.pluck(:updated_at).max().strftime("%b %d, %Y") %>
                    <% else %>
                      Updated on <%= a_crawl.updated_at.strftime("%b %d, %Y") %>
                    <% end %>
                  </div>
                  <div>
                    <% a_crawl.experiences.each_with_index do |a_experience, index| %>
                    <% if index >= 1 then %>, <% end %>
                      <%= a_experience.name %>
                    <% end %>
                  </div>
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <% a_crawl.stops.order(:order_number).each_with_index do |a_stop, index|  %>
                  <% if index <= 2 %>
                    <li class="list-group-item"><%= a_stop.location.name %></li>
                  <% elsif index == 2 %>
                    <li class="list-group-item">
                      <a href="/crawls/<%= a_crawl.id%>">View all <%= a_crawl.stops.size%> stops</a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <a href="/crawls/<%= a_crawl.id%>" class="card-link">Details</a>
                    <% if current_user != nil%>
                    <% if Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0) == nil %>
                      <form action="/insert_bookmark" method="post">
                        <input type="hidden" value="<%= current_user.id %>" name="query_user_id" id="user_id_box" >
                        <input type="hidden" value="<%= a_crawl.id %>" name="query_crawl_id" id="crawl_id_box" >
                        <input type="hidden" value=nil name="query_rating" id="rating_box" >
                        <button name="button" class="btn btn-link">
                          Bookmark
                        </button>
                      </form>
                    <% else %>
                        <a href="/delete_bookmark/<%= Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0).id %>" class="card-link">
                          Unbookmark
                        </a>
                    <% end %>
                  <% end %>
                  <a href="#" class="card-link">Share</a>
                  <% if current_user != nil && current_user == a_crawl.user %>
                    <a href="#" class="card-link">Edit</a>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>      
      </div>
    </div>
  </div>  
<% end %>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Category
        </th>

        <th>
          Tags
        </th>

        <th>
          Photo
        </th>

        <th>
          City
        </th>

        <th>
          Number of Stops
        </th>

        <th>
          Rating
        </th>

        <th>
          Creator
        </th>

        <th>
          Last updated
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_crawls.each do |a_crawl| %>
      <tr>
        <td>
          <%= a_crawl.id %>
        </td>

        <td>
          <%= a_crawl.name %>
        </td>

        <td>
          <%= a_crawl.category.name %>
        </td>

        <td>
          <% a_crawl.experiences.each_with_index do |a_experience, index| %>
            <% if index >= 1 then %>, <% end %>
            <%= a_experience.name %>
          
          <% end %>
        </td>

        <td>
          <img src="<%= a_crawl.photo %>" height="300px">
        </td>

        <td>
          <%= a_crawl.city %>, <%= a_crawl.state %>
        </td>

        <td>
          <%= a_crawl.stops.size %>
        </td>

        <td>
          <% visits = a_crawl.visits%>
          <% ratings = visits.pluck(:rating)%>
          <% if ratings.sum == 0 %>
            <%= "Not rated yet!" %>
          <% else %>
            <%= (ratings.sum / ratings.size.to_f).round(1) %>
          <% end %>
        </td>

        <td>
          <%= a_crawl.user.username %>
        </td>

        <td>
          <%= a_crawl.updated_at.strftime("%b %d, %Y") %>
        </td>

        <td>
          <a href="/crawls/<%= a_crawl.id %>">
            Show details
          </a>
        </td>

        <td>
          <% if current_user == nil%>
            <a href="/users/sign_in">Sign in</a> to bookmark a Crawl.
          <% else %>

            <% if Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0) == nil %>
              <form action="/insert_bookmark" method="post">
                <input type="hidden" value="<%= current_user.id %>" name="query_user_id" id="user_id_box" >
                <input type="hidden" value="<%= a_crawl.id %>" name="query_crawl_id" id="crawl_id_box" >
                <input type="hidden" value=nil name="query_rating" id="rating_box" >
                <button name="button">
                  Bookmark
                </button>
              </form>
            <% else %>
                <a href="/delete_bookmark/<%= Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0).id %>">
                  Unbookmark
                </a>
            <% end %>
          <% end %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>



<!-- Modal -->
<div class="modal fade" id="newCrawlModal" tabindex="-1" aria-labelledby="newCrawlModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newCrawlModalLabel">New crawl</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_crawl" method="post">
          <div class="mb-3">
            <label for="name_box" class="form-label">
              Name
            </label>

            <input type="text" id="name_box" name="query_name" class="form-control">
          </div>

          <div class="mb-3">
            <label for="category_id_box"  class="form-label">
              Category
            </label>

            <select id="category_id_box" name="query_category_id" class="form-control">
              <% @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </div>

          <div class="mb-3">
            <label for="city_box" class="form-label">
              City
            </label>

            <input type="text" id="city_box" name="query_city" class="form-control">
          </div>

          <div class="mb-3">
            <label for="state_box" class="form-label">
              State
            </label>

            <input type="text" id="state_box" name="query_state" class="form-control">
          </div>

          <div class="mb-3">
            <label for="photo_box" class="form-label">
              Photo url
            </label>

            <input type="text" id="photo_box" name="query_photo" class="form-control">
          </div>

          <% if current_user == nil%>
          <div>
            <a href="/users/sign_in">Sign in to add a new Crawl</a>
          </div>
          <% else %>    
          <div>
            <input type="hidden" id="user_id_box" name="query_user_id" value=<%= current_user.id %>>
          </div>
          <% end %>

          <div class="d-grid">
            <button class="btn btn-primary">
              Add post
            </button>
          </div>
          
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
