<div>
  <div>
    <h1>
      List of all crawls
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new crawl
    </h2>

<% if current_user == nil%>

Must be <a href="/users/sign_in">signed in</a> to add a new Crawl.

<% else %>    

    <form action="/insert_crawl" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <select id="category_id_box" name="query_category_id">
          <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="photo_box">
          Photo url
        </label>

        <input type="text" id="photo_box" name="query_photo">
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value=<%= current_user.id %>>
      </div>

      <button>
        Create crawl
      </button>
    </form>
  </div>
</div>

<% end %>    


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Category
        </th>

        <th>
          Photo
        </th>

        <th>
          City
        </th>

        <th>
          Number of Stops
        </th>

        <th>
          Rating
        </th>

        <th>
          Creator
        </th>

        <th>
          Last updated
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_crawls.each do |a_crawl| %>
      <tr>
        <td>
          <%= a_crawl.id %>
        </td>

        <td>
          <%= a_crawl.name %>
        </td>

        <td>
          <%= a_crawl.category.name %>
        </td>

        <td>
          <img src="<%= a_crawl.photo %>" height="300px">
        </td>

        <td>
          <%= a_crawl.city %>, <%= a_crawl.state %>
        </td>

        <td>
          <%= a_crawl.stops.size %>
        </td>

        <td>
          <% visits = a_crawl.visits%>
          <% ratings = visits.pluck(:rating)%>
          <% if ratings.sum == 0 %>
            <%= "Not rated yet!" %>
          <% else %>
            <%= (ratings.sum / ratings.size.to_f).round(1) %>
          <% end %>
        </td>

        <td>
          <%= a_crawl.user.username %>
        </td>

        <td>
          <%= a_crawl.updated_at.strftime("%b %d, %Y") %>
        </td>

        <td>
          <a href="/crawls/<%= a_crawl.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
