
<div class="row mb-3">
  <div class="col-md-12 d-flex align-items-center">
    <h1>
      List of all crawls
    </h1>

    <% if current_user == nil%>
    <div class="ms-auto">
      <a href="/users/sign_in" class="btn btn-outline-success">Sign in to create crawl</a>
    </div>

    <% else %>
    <div class="ms-auto">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newCrawlModal">
        Create a new crawl
      </button>
    </div>

    <% end %>

  </div>
</div>

<ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active posts (21)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="expired-tab" data-bs-toggle="tab" data-bs-target="#expired-tab-pane" type="button" role="tab" aria-controls="expired-tab-pane" aria-selected="false">Expired posts (22)</button>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h1 class="h6 my-1">Lightweight Paper Car</h1>

              <div>
                Expires on May  9, 2024
              </div>
            </div>

            <div class="card-body">
              <p>Et solio cohaero. Theatrum apparatus enim. Arcus corroboro usitas.</p>
            </div>

            <div class="card-footer">
              Posted on Apr 27, 2024
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Category
        </th>

        <th>
          Tags
        </th>

        <th>
          Photo
        </th>

        <th>
          City
        </th>

        <th>
          Number of Stops
        </th>

        <th>
          Rating
        </th>

        <th>
          Creator
        </th>

        <th>
          Last updated
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_crawls.each do |a_crawl| %>
      <tr>
        <td>
          <%= a_crawl.id %>
        </td>

        <td>
          <%= a_crawl.name %>
        </td>

        <td>
          <%= a_crawl.category.name %>
        </td>

        <td>
          <% a_crawl.experiences.each_with_index do |a_experience, index| %>
            <% if index >= 1 then %>, <% end %>
            <%= a_experience.name %>
          
          <% end %>
        </td>

        <td>
          <img src="<%= a_crawl.photo %>" height="300px">
        </td>

        <td>
          <%= a_crawl.city %>, <%= a_crawl.state %>
        </td>

        <td>
          <%= a_crawl.stops.size %>
        </td>

        <td>
          <% visits = a_crawl.visits%>
          <% ratings = visits.pluck(:rating)%>
          <% if ratings.sum == 0 %>
            <%= "Not rated yet!" %>
          <% else %>
            <%= (ratings.sum / ratings.size.to_f).round(1) %>
          <% end %>
        </td>

        <td>
          <%= a_crawl.user.username %>
        </td>

        <td>
          <%= a_crawl.updated_at.strftime("%b %d, %Y") %>
        </td>

        <td>
          <a href="/crawls/<%= a_crawl.id %>">
            Show details
          </a>
        </td>

        <td>
          <% if current_user == nil%>
            <a href="/users/sign_in">Sign in</a> to bookmark a Crawl.
          <% else %>

            <% if Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0) == nil %>
              <form action="/insert_bookmark" method="post">
                <input type="hidden" value="<%= current_user.id %>" name="query_user_id" id="user_id_box" >
                <input type="hidden" value="<%= a_crawl.id %>" name="query_crawl_id" id="crawl_id_box" >
                <input type="hidden" value=nil name="query_rating" id="rating_box" >
                <button name="button">
                  Bookmark
                </button>
              </form>
              <% else %>
                <a href="/delete_bookmark/<%= Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0).id %>">
                  Unbookmark
                </a>
              <% end %>
          <% end %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>



<!-- Modal -->
<div class="modal fade" id="newCrawlModal" tabindex="-1" aria-labelledby="newCrawlModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newCrawlModalLabel">New crawl</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_crawl" method="post">
          <div class="mb-3">
            <label for="name_box" class="form-label">
              Name
            </label>

            <input type="text" id="name_box" name="query_name" class="form-control">
          </div>

          <div class="mb-3">
            <label for="category_id_box"  class="form-label">
              Category
            </label>

            <select id="category_id_box" name="query_category_id" class="form-control">
              <% @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </div>

          <div class="mb-3">
            <label for="city_box" class="form-label">
              City
            </label>

            <input type="text" id="city_box" name="query_city" class="form-control">
          </div>

          <div class="mb-3">
            <label for="state_box" class="form-label">
              State
            </label>

            <input type="text" id="state_box" name="query_state" class="form-control">
          </div>

          <div class="mb-3">
            <label for="photo_box" class="form-label">
              Photo url
            </label>

            <input type="text" id="photo_box" name="query_photo" class="form-control">
          </div>

          <% if current_user == nil%>
          <div>
            <a href="/users/sign_in">Sign in to add a new Crawl</a>
          </div>
          <% else %>    
          <div>
            <input type="hidden" id="user_id_box" name="query_user_id" value=<%= current_user.id %>>
          </div>
          <% end %>

          <div class="d-grid">
            <button class="btn btn-primary">
              Add post
            </button>
          </div>
          
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
