<div>
  <div>
    <h1>
      Crawl #<%= @the_crawl.id %> details
    </h1>

    <div>
      <div>
        <a href="/crawls">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_crawl/<%= @the_crawl.id %>">
          Delete crawl
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_crawl.name %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_crawl.category_id %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_crawl.city %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @the_crawl.state %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_crawl.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_crawl.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_crawl.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit crawl
    </h2>

    <form action="/modify_crawl/<%= @the_crawl.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_crawl.name %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_crawl.category_id %>">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city" value="<%= @the_crawl.city %>">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state" value="<%= @the_crawl.state %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_crawl.user_id %>">
      </div>

      <button>
        Update crawl
      </button>
    </form>
  </div>
</div>

<hr>
