<div class="row mb-3">
  <div class="col-md-12 d-flex">
    <h1>
      <%= @the_user.username %>
    </h1>
  </div>
</div>

<hr>
<div class="row mb-1">
  <div class="col-md-12 d-flex">
    <h3>
      <%= @the_user.username %>'s crawls
    </h3>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @the_user.crawls.order(:created_at => :desc).each do |a_crawl| %>
    <% if a_crawl.stops.count >= 3%>
      <div class="col">
        <div class="card">
          
          <%= cl_image_tag(a_crawl.photo, class: "card-img-top",raw_transformation: "w_400,h_300,c_auto,g_auto") %>
        
          <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title align-self-center"><%= a_crawl.name %></h5>
                <span class="badge rounded-pill text-bg-primary align-self-center">
                <% visits = a_crawl.visits%>
                <% ratings = visits.pluck(:rating)%>
                <% if ratings.sum == 0 %>
                  n/a
                <% else %>
                  <%= (ratings.sum / ratings.size.to_f).round(1) %>
                <% end %>
                </span>
            </div>
            <div class="card-text">
              <div>
                <%= a_crawl.city %>, <%= a_crawl.state %>
              </div>
              <div>
                <% if a_crawl.stops.size > 0 %>
                  Updated on <%= a_crawl.stops.pluck(:updated_at).max().strftime("%b %d, %Y") %>
                <% else %>
                  Updated on <%= a_crawl.updated_at.strftime("%b %d, %Y") %>
                <% end %>
              </div>
              <div>
                <% a_crawl.experiences.each_with_index do |a_experience, index| %>
                <% if index >= 1 then %>, <% end %>
                  <%= a_experience.name %>
                <% end %>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <% a_crawl.stops.order(:order_number).each_with_index do |a_stop, index|  %>
              <% if index <= 2 %>
                <li class="list-group-item"><%= a_stop.location.name %></li>
              <% elsif index == 2 %>
                <li class="list-group-item">
                  <a href="/crawls/<%= a_crawl.id%>">View all <%= a_crawl.stops.size%> stops</a>
                </li>
              <% end %>
            <% end %>
          </ul>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <% if current_user != nil && current_user == a_crawl.user %>
                <a href="/crawls/<%= a_crawl.id%>" class="card-link">Edit</a>
              <% else %>
                <a href="/crawls/<%= a_crawl.id%>" class="card-link">Details</a>
              <% end %>

              <% if current_user != nil%>
                <% if Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0) == nil %>
                  <form action="/insert_bookmark" method="post">
                    <input type="hidden" value="<%= current_user.id %>" name="query_user_id" id="user_id_box" >
                    <input type="hidden" value="<%= a_crawl.id %>" name="query_crawl_id" id="crawl_id_box" >
                    <input type="hidden" value=nil name="query_rating" id="rating_box" >
                    <button name="button" class="btn btn-link">
                      Bookmark
                    </button>
                  </form>
                <% else %>
                    <a href="/delete_bookmark/<%= Bookmark.where(:crawl_id => a_crawl.id, :user_id => current_user.id).at(0).id %>" class="card-link">
                      Unbookmark
                    </a>
                <% end %>
              <% else%>
                <a href="/users/sign_in/" class="card-link">
                  Sign in to Bookmark
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>      
</div>

<hr>
<div class="row mb-1">
  <div class="col-md-12 d-flex">
    <h3>
      <%= @the_user.username %>'s visits
    </h3>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @the_user.visits.order(:created_at => :desc).each do |a_visit| %>
    <div class="col">
      <div class="card">

        <%= cl_image_tag(a_visit.photo, class: "card-img-top",raw_transformation: "w_400,h_300,c_auto,g_auto") %>

        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title align-self-center"><%= a_visit.stop.location.name %></h5>
            <span class="badge rounded-pill text-bg-primary align-self-center">
              <%= a_visit.rating %>
            </span>
          </div>
          <h6 class="card-title align-self-center"><%= a_visit.stop.crawl.name %>(<%= a_visit.stop.crawl.city %>,<%= a_visit.stop.crawl.state %>)</h6>
          <div class="card-text">
            <div>
              <p><%= a_visit.caption %></p>
            </div>
            <div>
              Updated on <%= a_visit.updated_at.strftime("%b %d, %Y") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row mb-3">
</div>







