<div>
  <div>
    <h1>
      List of all stops
    </h1>
  </div>
</div>

<hr>


<div>
  <div>

    <h2>
      Add a new stop
    </h2>

    <% if current_user == nil%>

    <a href="/users/sign_in">Sign in</a> to add a Stop.

    <% else %>

    <form action="/insert_stop" method="post">
      <div>
        <label for="crawl_id_box">
          Crawl
        </label>

          <% user_crawls = Crawl.where(:user_id => current_user.id) %>
            <select id="crawl_id_box" name="query_crawl_id">
              <% user_crawls.each do |a_crawl| %>
                <option value="<%= a_crawl.id %>"><%= a_crawl.name %></option>
              <% end %>
            </select>

      </div>

      <div>
        <label for="order_number_box">
          Order number
        </label>

        <input type="text" id="order_number_box" name="query_order_number">
      </div>

      <div>
        <label for="location_id_box">
          Location
        </label>

        <select id="location_id_box" name="query_location_id">
          <% Location.all.each do |a_location| %>
            <option value="<%= a_location.id %>"><%= a_location.name %> (<%= a_location.city %>, <%= a_location.state %>)</option>
          <% end %>
        </select>

      </div>

      <div>
        <label for="recommendation_box">
          Recommendation
        </label>

        <textarea id="recommendation_box" name="query_recommendation" rows="3"></textarea>
      </div>

      <button>
        Create stop
      </button>
    </form>
    
    <% end %>

  </div>
</div>



<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Crawl
        </th>

        <th>
          Order number
        </th>

        <th>
          Location
        </th>

        <th>
          Recommendation
        </th>

        <th>
          Rating
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_stops.each do |a_stop| %>
      <tr>
        <td>
          <%= a_stop.id %>
        </td>

        <td>
          <%= a_stop.crawl.name %>
        </td>

        <td>
          <%= a_stop.order_number %>
        </td>

        <td>
          <%= a_stop.location.name %>
        </td>

        <td>
          <%= a_stop.recommendation %>
        </td>

        <td>
          <% visits = a_stop.visits%>
          <% ratings = visits.pluck(:rating)%>
          <% if ratings.sum == 0 %>
            <%= "Not rated yet!" %>
          <% else %>
            <%= (ratings.sum / ratings.size.to_f).round(1) %>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(a_stop.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(a_stop.updated_at) %> ago
        </td>        

        <td>
          <a href="/stops/<%= a_stop.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
