<div>
  <div>
    <h1>
      Stop #<%= @the_stop.id %> details
    </h1>

    <div>
      <div>
        <a href="/stops">
          Go back
        </a>
      </div>

      <% if current_user == @the_stop.crawl.user %>
      <div>
        <a href="/delete_stop/<%= @the_stop.id %>">
          Delete stop
        </a>
      </div>
      <% end %>
    </div>

    <dl>
      <dt>
        Crawl
      </dt>
      <dd>
        <%= @the_stop.crawl_id %>
      </dd>

      <dt>
        Order number
      </dt>
      <dd>
        <%= @the_stop.order_number %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_stop.location.name %> (<%= @the_stop.location.city %>, <%= @the_stop.location.state %>)
      </dd>

      <dt>
        Recommendation
      </dt>
      <dd>
        <%= @the_stop.recommendation %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
          <% visits = @the_stop.visits%>
          <% ratings = visits.pluck(:rating)%>
          <% if ratings.sum == 0 %>
            <%= "Not rated yet!" %>
          <% else %>
            <%= (ratings.sum / ratings.size.to_f).round(1) %>
          <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stop.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stop.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<% if current_user == @the_stop.crawl.user %>
<hr>

<div>
  <div>
    <h2>
      Edit stop
    </h2>

    <form action="/modify_stop/<%= @the_stop.id %>"  method="post" >
      <div>
        <label for="crawl_id_box">
          Crawl
        </label>

        <% user_crawls = Crawl.where(:user_id => current_user.id) %>
        <select id="crawl_id_box" name="query_crawl_id">
          <% user_crawls.each do |a_crawl| %>
            <option value="<%= a_crawl.id %>"><%= a_crawl.name %></option>
          <% end %>
        </select>

      </div>

      <div>
        <label for="order_number_box">
          Order number
        </label>

        <input type="text" id="order_number_box" name="query_order_number" value="<%= @the_stop.order_number %>">
      </div>

      <div>
        <label for="location_id_box">
          Location
        </label>

        <select id="location_id_box" name="query_location_id">
          <% Location.all.each do |a_location| %>
            <% if a_location.id == @the_stop.location_id %>
            <option value="<%= a_location.id %>" selected><%= a_location.name %> (<%= a_location.city %>, <%= a_location.state %>)</option>
            <% else %>
            <option value="<%= a_location.id %>"><%= a_location.name %> (<%= a_location.city %>, <%= a_location.state %>)</option>
            <% end %>
          <% end %>
        </select>

      </div>

      <div>
        <label for="recommendation_box">
          Recommendation
        </label>

        <textarea id="recommendation_box" name="query_recommendation"><%= @the_stop.recommendation %></textarea>
      </div>

      <button>
        Update stop
      </button>
    </form>
  </div>
</div>

<% end %>
