<div>
  <div>
    <h1>
      List of all locations
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new location
    </h2>

    <form action="/insert_location" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="street_address_box">
          Street address
        </label>

        <input type="text" id="street_address_box" name="query_street_address">
      </div>

      <div>
        <label for="street_address_2_box">
          Street address 2
        </label>

        <input type="text" id="street_address_2_box" name="query_street_address_2">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="zip_code_box">
          Zip code
        </label>

        <input type="text" id="zip_code_box" name="query_zip_code">
      </div>

      <button>
        Create location
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Street address
        </th>

        <th>
          Street address 2
        </th>

        <th>
          City
        </th>

        <th>
          State
        </th>

        <th>
          Zip code
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_locations.each do |a_location| %>
      <tr>
        <td>
          <%= a_location.id %>
        </td>

        <td>
          <%= a_location.name %>
        </td>

        <td>
          <%= a_location.street_address %>
        </td>

        <td>
          <%= a_location.street_address_2 %>
        </td>

        <td>
          <%= a_location.city %>
        </td>

        <td>
          <%= a_location.state %>
        </td>

        <td>
          <%= a_location.zip_code %>
        </td>

        <td>
          <%= time_ago_in_words(a_location.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_location.updated_at) %> ago
        </td>

        <td>
          <a href="/locations/<%= a_location.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
